html {
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: silver;
}

.location-search-section-initial input,
.location-search-section-initial select,
.location-search-section-initial button {
    width: 50vw;
    height: 5vh;
    font-size: 1.3rem;
}

select {
    background-color: white;
}

.location-search-section-initial {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6em;
}

.location-search-section {
    height: 10%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.1em;
}

.location-search-section > p {
    display: none;
}

.location-search-section > label {
    padding-left: 24px;
    padding-right: 6px;
}

.loading-screen {
    width: 100%;
    height: 90%;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.invisible {
    display: none;
}

.color-circle {
    width: 20vw;
    height: 20vw;
    background: linear-gradient(0deg, white 0%, white 70%, gold 70%);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    animation-name: loading-circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes loading-circle {
    0% {background: linear-gradient(0deg, white 0%, white 70%, gold 70%)}
    10% {background: linear-gradient(324deg, white 0%, white 70%, gold 70%)}
    20% {background: linear-gradient(288deg, white 0%, white 70%, gold 70%)}
    30% {background: linear-gradient(252deg, white 0%, white 70%, gold 70%)}
    40% {background: linear-gradient(216deg, white 0%, white 70%, gold 70%)}
    50% {background: linear-gradient(180deg, white 0%, white 70%, gold 70%)}
    60% {background: linear-gradient(144deg, white 0%, white 70%, gold 70%)}
    70% {background: linear-gradient(108deg, white 0%, white 70%, gold 70%)}
    80% {background: linear-gradient(72deg, white 0%, white 70%, gold 70%)}
    90% {background: linear-gradient(36deg, white 0%, white 70%, gold 70%)}
    100% {background: linear-gradient(0deg, white 0%, white 70%, gold 70%)}
}

.small-circle {
    width: 15vw;
    height: 15vw;
    background-color: black;
    border-radius: 100%;
}

main {
    width: 100%;
    height: 90%;
    background-color: black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.weather-icon {
    width: clamp(400px, 40vw, 850px);
    height: max(400px, 90%);
    background-color: whitesmoke;
    border: 3px solid gold;
    border-radius: 12px;
}

.weather-report {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}

.weather-stats {
    width: clamp(400px, 40vw, 850px);
    height: max(250px, 50%);
    background-color: whitesmoke;
    border: 3px solid gold;
    border-radius: 12px;
    font-size: 1.3em;
    display: flex;
}

.weather-stat {
    width: 90%;
    margin: 14px;
    padding: 0px;
}

.weather-stats div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.temp-stat {
    font-size: 1.3em;
}

.weather-conclusion {
    width: clamp(400px, 40vw, 850px);
    height: max(150px, 30%);
    background-color: whitesmoke;
    border: 3px solid gold;
    border-radius: 12px;
    font-size: 1.7em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}

blockquote {
    margin: 0;
    font-size: 1.3em;
}

.speaker {
    margin-right: 24px;
    text-align: right;
}